<<<<<<< HEAD

=======
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
>>>>>>> ee7256d9a2121782efaf869c4c3c94cffb8c2dc8


/* Background gradient */
body {
  background-image: linear-gradient(to right, #ff758c, #ff7eb3);
}
